.sign_up_container
{
    margin-top: 5%;
}
.image
{
    width: 100%;
    height: auto;
}

.input
{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    height: 38px;
}
.input::placeholder
{
    color: rgba(229, 158, 27, 0.849);
}
.agree
{
    margin-top: 13px;
    margin-left: 5px;
}
.check
{
    margin-left: 15px;
    margin-top: 20px;
}
.submit
{
    margin-top: 2%;
    transition: 0.2s;
    width: 50%;
    height: 40px;
    background: #F2A71B;
    border: 3px solid #F2A71B;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
}

.paragraph
{
    font-size: 14px;
}