#blog_card
{
    padding: 40px 10px 20px 10px;
    font-family: Roboto;
}
#card
{
    background-color: #F2F2F2;
    padding: 12px 12px 12px 12px;
    border-radius: 5%;
}
#blog_title
{
    font-size: 18px;
}
#date
{
    font-size: 11px;
    float: right;
}
#paragraph
{
    font-size: 12px;
    overflow-y: hidden;
    height: 105px; 
    font-family: Roboto;
    line-height: 15px;
    text-align: justify;
    color: #888787;
}
#button
{
    background-color: #F2A71B;
    border-radius: 999px;
    width: 40%;
    font-size: 14px;
    height:23px;
    padding-top: 2px;
    color: white;
}

#button:hover
{
    background-color:rgb(202, 131, 0);
}
