.pic
{
    width: 100%;
}

.button
{
    background-color: white;
    margin-top: 10%;
    transition: 0.2s;
    color: rgb(229, 159, 27);
    height: 40px;
    width: 100%;
    border-radius: 19px;
    border: 2px solid rgb(229, 159, 27);
}
.button:hover
{
    background-color:rgb(229, 159, 27);
    color: white;
}
.pic_container
{
    margin-top: 3%;
}
.liked
{
    border: 2px solid rgba(229, 159, 27, 0.3);
    border-radius: 12px;
    margin-top: 5%;
    background-color:rgba(242, 242, 242, 0.2);
    padding:10px 0px 10px 0px;
}
.big
{
    margin-top: 2%;
    margin-bottom: 4.2%;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    border-bottom-right-radius:0;
    border-bottom-left-radius: 0; 
    margin-bottom: 0%;
    height: 40px;
}

.change
{
    
    border-top-right-radius:0;
    border-top-left-radius: 0; 
    margin-top: 0%;
    border-top: none;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
